body {
  background-color: lightgray;
}
.headLine {
  font-size: 40px;
  margin-top: 20px;
}
.firstWrapper {
  margin: 0 auto;
  width: 700px;
  border: solid 1px white;
  box-shadow: 3px 3px 3px 3px gray;
  background-color: white;
  padding-left: 20px;
  padding-bottom: 20px;
}
button {
  background-color: lightskyblue;
  padding: 10px 30px;
  border-color: white;
  text-emphasis-color: white ;
  border: 0;
  outline: 0;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0px 1px 1px 1px lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: ;
  color: white;
}
.firstLine {
  font-size: 15px;
}
.lastLine {
  font-size: 12px;
}